body {
    background: rgb(42, 39, 39);
}

.text-center {
    text-align: center;
}

.title {
    color: crimson;
    font-size: 60px;
}

.text-1 {
    color: crimson;
    font-size: 40px;
}

.text-2 {
    color: crimson;
    font-size: 30px;
}

.clock {
    color: crimson;
    font-size: 40px;
}

.days {
    color: crimson;
    font-size: 40px;
}

.dates {
    color: crimson;
    font-size: 40px;
}